@font-face {
  font-family: "Nostromo";
  src: url("NostromoRegular-Medium.otf") format("opentype");
}

body {
  height: 100vh;
  background-color: black;
  background-image: url(space-buddha.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: safe space-evenly;
  align-items: center;

  font-family: Nostromo, monospace;
}

.container1 {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 5%;
  gap: 25%;
}

#score {
  align-self: center;
  color: white;
  font-family: orbitron, monospace;
  font-size: 500%;
  font-weight: 1000;
}

.buttons {
  align-self: center;
  display: flex;
  gap: 20px;
}

#rock,
#paper,
#scissors {
  background: rgb(225, 250, 255);
  background: radial-gradient(
    circle,
    rgba(225, 250, 255, 1) 0%,
    rgba(145, 170, 211, 0.98) 100%
  );
  border-radius: 15px 15px;
  width: 200px;
  height: 100px;
  align-self: flex-end;

  font-size: 40px;
}

.container2 {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: center;
}

#result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 30vh;

  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.7) 5%,
    rgba(91, 120, 160, 0.1) 70%
  );
  padding: 5px;
  border-radius: 15px 15px;
  color: beige;
  font-size: 25px;
  text-shadow: 0 0 7px #ffd700, 0 0 1px #ffd700, 0 0 1px #fcb045, 0 0 1px black;
}

#rock:hover,
#paper:hover,
#scissors:hover {
  font-size: 60px;
  background: radial-gradient(
    circle,
    rgba(225, 250, 255, 0.1) 0%,
    rgba(145, 170, 211, 0.98) 100%
  );
}
